
*{
    padding:0px;
    margin:0px;
}
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

h1 {
    font-size: 54px;
}

.white-text {
    color: #fff;
    padding-top: 120px;
    padding-bottom: 10px;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}



 .white-btn{
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;

}


.white-btn {
    background: #000;
    color: #fff;
    padding:10px;
    margin:10px;
}
.home-content a
{
    text-decoration: none;
}


.submit-btn{
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}


.submit-btn {
    background: black;
    color: #fff !important;
    margin:10px;
    padding: 10px;
}

a
{
    text-decoration: none;
}



.white-btn:hover{
    opacity: 0.8;
    color:blue;
    }

 h2
{
    color:#fff;
    text-align: center;
    padding-top:110px;
}
 label
{
    color:#fff;
    font-size: 30px;
    align-content: center;
    padding: 20px;
}

input
{
    color:black;
}
.class 
{
    background-color: #fff;
    color:black;
    padding:10px;
}

.id
{
    background-color: #fff;
    color: black;
    font-size: 20px;
}

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content h1 {
  text-transform: uppercase;
}
.home-content button {
  margin-top: 20px;
}

#none
{
    color:white;
}


#from
{
  color:black;
}
#to
{
  color:black;
}
 #a
{
  text-align: center;
  background-color: #000;
  text-decoration: underline;
}
 #b
{
  text-align: center;
  background-color: #000;
  text-decoration: underline;
}
#name ,#email,#credit
{
    font-size: 20px;
}

.blue
{
    padding:20px;
}

#none
{
    padding: 20px;
}
.submit-btn
{
    padding:20px;
    margin: 4px;

}
.submit-btn #n
{
    color:red;
}



.btn #all
{
    color:#fff;
    font-size: 20px;
    background-color: #000;
    padding:4px;
    margin: 1px;


}

.btn #all:hover
{
    color:red;
}
.close-btn
{
    background-color: #000;
    color: #fff;
    padding:10px;
    margin: 10px;
}

.link .close-btn
{
    background-color: #000;
    color: #fff;
    padding:10px;
    margin: 10px;
}

.link .close-btn:hover
{
    color:orange;
}

 #no
{
    
    color:#ff6;

}

.btn .base
{
    width: 60px;
    height: 40px;
    color:#000;
    padding:3px;
}
.btn .base :hover
{
    color:orange;
}

.table-bordered .table-striped
{
    width:200px;
    hieght:600px;
}

.bold
{
    background-color: grey;
}